.DS_Store
.pmgrc.yaml
.claude/
espanso/
github-copilot/
lazyvim/
# lazygit/
lazygit/state.yml
rclone/
scripts/
# hammerspoon/
swiftbar/
mpv/
iterm2/
configstore/
nvim/lazy-lock.json
StardewValley/
.zshrc
zed/prompts/
.copilot/
swiftpm/
amp/
opencode/
ipython/
zoxide/
yazi/vfs.toml
