control_click_command overview_under_cursor
page_separator_width 1
ui_font SF Pro
font_size 16
linear_filter 1
status_bar_font_size 12

prerender_next_page_presentation 1

should_draw_unrendered_pages 0
vertical_scroll_sensitivity 1.0
fit_to_page_width_ratio 1.0

startup_commands toggle_synctex;fit_to_page_width;toggle_statusbar
