layout {
    pane size=1 borderless=true {
        plugin location="file:/Users/zhimin/.config/zellij/plugins/everforest-tab-bar/target/wasm32-wasip1/release/everforest_tab_bar.wasm"
    }
    pane
}
